[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
pydantic = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
fastapi = {extras = ["test"], version = "*"}
httpx = "*"
typer = "*"
google-generativeai = "*"
python-docx = "*"
python-multipart = "*"
python-dotenv = "*"
pypdf2 = "*"

[dev-packages]
black = "*"
flake8 = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn app.main:app --reload"
test = "pytest -v"
format = "black ."
lint = "ruff check ."
cli = "python -m app.cli"
